@model IEnumerable<WebUI.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="LogOut">Выход</a>
</p>
<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Ред.</a> |
         
                <a asp-action="Delete" asp-route-id="@item.OrderId">Удал.</a>
            </td>
        </tr>
}
    </tbody>
</table>
